<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Builer/Herramientas Eléctricas</title>
    <link rel="stylesheet" href="/apartado_cada_tipo/Apartados.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/Apartados.css') }}">
</head>
<body>
    
    <!--Nuestros correos-->
    <nav class="correos">
        <a href="#"><p>Joan.tapia.hermosilla@alumnos.sip.cl</p></a>
        <a href="#"><p>Matias.velasquez.donoso.1@alumnos.sip.cl</p></a>
    </nav>
<!--navv-->
<header>

    <nav class="logo">
        <div class="ellogo">
            <a href="/logo"><img src="{{ url_for('static', filename='img/logo.2.png') }}" alt=""></a>
        </div>
        <input type="text" placeholder=" Buscador">
        <ul>
            <li><a href="/inicio">Inicio sesion</a></li>
            <li><a href="">Compras</a></li>
        </ul>

    </nav>  
<!--categorias-->
    <div class="categorias">

        <h3><a href="/logo">Home</a></h3>
        <h3><a href="">Nosotros</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
        
    </div>
</header>

<h4 class="herramientas-inicio">Inicio / Herramientas Eléctricas</h4>

<div class="pliss">
    <div class="izquierda">
        <div class="apartado-izquierda">
            <h3><a href="/aislante">Aislante Termico</a></h3>
            <h3><a href="/cemento">Cemento y Morteros</a></h3>
            <h3><a href="/manuales">Herramientas Manuales</a></h3>
            <h3><a href="/metalcon">Metalcon</a></h3>
            <h3><a href="/general">Materiales de Contruccion</a></h3>
            <h3><a href="/pinturas">Pinturas y Accesorios</a></h3>
            <h3><a href="/puertas">Puertas y chapas</a></h3>
            <h3><a href="/techumbres">Techumbres de Metal</a></h3>
            <h3><a href="/ventanas">Ventanas de Aluminio</a></h3>
        </div>
    
    </div>
    
    <section>
    
        <div class="productos-finales">
            <a href="">
                <span>-35%</span>
            <div class="dentro-producto"> 
                <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec1.png' ) }}" alt="">
            </div>
            </a>
            <div class="titulos-producto">
                <h3>SIERRA CIRCULAR ELÉCTRICA 7 1/4 180...</h3>
                <div class="precioss"><span>$89.990</span><span class="tachar2">$128.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
            
            
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-25%</span> 
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/img_productos/esmeril.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ESMERIL ANGULAR 4 1/2" 650W BLACK</h3>
                <div class="precioss"><span>$40.990</span><span class="tachar2">$80.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec3.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TALADRO ELÉCTRICO 450W 65MM</h3>
                <div class="precioss"><span>$44.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-12%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec2.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>EINHELL SIERRA DE CALAR TC-JS</h3>
                <div class="precioss"><span>$24.990</span><span class="tachar2">$32.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-45%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec4.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TALADRO ELÉCTRICO DE MESA STANLEY DE 1/2...</h3>
                <div class="precioss"><span>$140.990</span><span class="tachar2">$219.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-45%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec6.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>MARTILLO DEMOLEDOR SDS-MAX 1.5 10W 95...</h3>
                <div class="precioss"><span>$549.990</span><span class="tachar2">$759,990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec7.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>CORTADORA PASTO INALAMBRICA 2 BA...</h3>
                <div class="precioss"><span>$26.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-25%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec8.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>PLACA COMPACTADORA CP2150 MOTOR KOHLER</h3>
                <div class="precioss"><span>$399.990</span><span class="tachar2">$589.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-35%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec9.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TALARO FRESADOR ENGRANADO 45MM 1...</h3>
                <div class="precioss"><span>$779.990</span><span class="tachar2">$919.282</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-29%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec10.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>GENERADOR 3,2KVA 220V GASOLINA PART...</h3>
                <div class="precioss"><span>$469.990</span><span class="tachar2">$634.090</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec11.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>SIERRA INGLETEADORA ELÉCTRICA 1400W/21...</h3>
                <div class="precioss"><span>$140.590</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-42%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_H.electricas/elec5.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ESMERIL ANGULAR DE 7 MAKITA 2400W</h3>
                <div class="precioss"><span>$99.990</span><span class="tachar2">$173.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
    </section>

</div>

   <!--Footer-->
   <footer>

    <div class="logo-final">
        <a href="/logo">
            <img src="{{ url_for('static', filename='img/logo.2.png') }}" alt="">
        </a>
    </div>

    <div class="categorias-finales">
        <h2>Nosotros:</h2>
        <h3><a href="#">Nosotros</a></h3>
        <h3><a href="/logo">Herramientas</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
    </div>

    <div class="establecimiento">
        <h2>Establecimiento:</h2>
        <h3>Colegio Arturo Matte Larraín</h3>
    </div>


</footer>






</body>
</html>