<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Builer/Herramientas Manuales</title>
    <link rel="stylesheet" href="/apartado_cada_tipo/Apartados.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/Apartados.css') }}">
</head>
<body>
    
    <!--Nuestros correos-->
    <nav class="correos">
        <a href="#"><p>Joan.tapia.hermosilla@alumnos.sip.cl</p></a>
        <a href="#"><p>Matias.velasquez.donoso.1@alumnos.sip.cl</p></a>
    </nav>
<!--navv-->
<header>

    <nav class="logo">
        <div class="ellogo">
            <a href="/logo"><img src="{{ url_for('static', filename='img/logo.2.png') }}" alt=""></a>
        </div>
        <input type="text" placeholder=" Buscador">
        <ul>
            <li><a href="/inicio">Inicio sesion</a></li>
            <li><a href="">Compras</a></li>
        </ul>

    </nav>  
<!--categorias-->
    <div class="categorias">

        <h3><a href="/logo">Home</a></h3>
        <h3><a href="">Nosotros</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
        
    </div>
</header>

<h4 class="herramientas-inicio">Inicio / Herramientas Manuales</h4>

<div class="pliss">
    <div class="izquierda">
        <div class="apartado-izquierda">
            <h3><a href="/aislante">Aislante Termico</a></h3>
            <h3><a href="/cemento">Cemento y Morteros</a></h3>
            <h3><a href="/herramientas">Herramientas Eléctricas</a></h3>
            <h3><a href="/metalcon">Metalcon</a></h3>
            <h3><a href="/general">Materiales de Contruccion</a></h3>
            <h3><a href="/pinturas">Pinturas y Accesorios</a></h3>
            <h3><a href="/puertas">Puertas y chapas</a></h3>
            <h3><a href="/techumbres">Techumbres de Metal</a></h3>
            <h3><a href="/ventanas">Ventanas de Aluminio</a></h3>
        </div>
    
    </div>
    
    <section>
    
        <div class="productos-finales">
            <a href="">
                <span>-20%</span>
            <div class="dentro-producto"> 
                <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen1.png' ) }}" alt="">
            </div>
            </a>
            <div class="titulos-producto">
                <h3>MAKITA E-10899 SET HERRAMIENTAS</h3>
                <div class="precioss"><span>$25.990</span><span class="tachar2">$50.444</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
            
            
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-50%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen2.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>MAZA BELLOTA S200-2 X</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2">$20.900</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen3.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TOLSÉN SIERRA DE 40CM</h3>
                <div class="precioss"><span>$15.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-30%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen4.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ALICATE CAIMÁN CURVO CORTANTE</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2">$19.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen5.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>PALA PUNTA HUEVO CON MANGO MADERA...</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen6.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ALICATE DE PUNTA LARGA FIXTEC 6</h3>
                <div class="precioss"><span>$6.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-40%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen7.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ALICATE PUNTA Y CORTE 6 AISLADO 10...</h3>
                <div class="precioss"><span>$6.990</span><span class="tachar2">$15.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-40%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen8.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>MARTILLO CARPINTERO FIBRA 16OZ ANTIDES...</h3>
                <div class="precioss"><span>$6.990</span><span class="tachar2">$15.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen9.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>HUINCHA E MEDIR 8 METROS</h3>
                <div class="precioss"><span>$5.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-40%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen10.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>DESTORNILLADORES MAGNÉTICOS DE 11 P...</h3>
                <div class="precioss"><span>$25.990</span><span class="tachar2">$34.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen11.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>HACHA DE CAMPING CONDOR</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_herramientas/gen12.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>LLAVE STILLSON 36 PULGADAS TOTAL</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
    </section>

</div>

   <!--Footer-->
   <footer>

    <div class="logo-final">
        <a href="/logo">
            <img src="{{ url_for('static', filename='img/logo.2.png') }}" alt="">
        </a>
    </div>

    <div class="categorias-finales">
        <h2>Nosotros:</h2>
        <h3><a href="#">Nosotros</a></h3>
        <h3><a href="/logo">Herramientas</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
    </div>

    <div class="establecimiento">
        <h2>Establecimiento:</h2>
        <h3>Colegio Arturo Matte Larraín</h3>
    </div>


</footer>






</body>
</html>