<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Builer/Metalcon</title>
    <link rel="stylesheet" href="/apartado_cada_tipo/Apartados.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/Apartados.css') }}">
</head>
<body>
    
    <!--Nuestros correos-->
    <nav class="correos">
        <a href="#"><p>Joan.tapia.hermosilla@alumnos.sip.cl</p></a>
        <a href="#"><p>Matias.velasquez.donoso.1@alumnos.sip.cl</p></a>
    </nav>
<!--navv-->
<header>

    <nav class="logo">
        <div class="ellogo">
            <a href="/logo"><img src="{{ url_for('static', filename='img/logo.2.png') }}" alt=""></a>
        </div>
        <input type="text" placeholder=" Buscador">
        <ul>
            <li><a href="/inicio">Inicio sesion</a></li>
            <li><a href="">Compras</a></li>
        </ul>

    </nav>  
<!--categorias-->
    <div class="categorias">

        <h3><a href="/logo">Home</a></h3>
        <h3><a href="">Nosotros</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
        
    </div>
</header>

<h4 class="herramientas-inicio">Inicio / Metalcon</h4>

<div class="pliss">
    <div class="izquierda">
        <div class="apartado-izquierda">
            <h3><a href="/aislante">Aislante Térmico</a></h3>
            <h3><a href="/cemento">Cemento y Morteros</a></h3>
            <h3><a href="/herramientas">Herramientas Eléctricas</a></h3>
            <h3><a href="/manuales">Herramientas Manuales</a></h3>
            <h3><a href="/general">Materiales de Contruccion</a></h3>
            <h3><a href="/pinturas">Pinturas y Accesorios</a></h3>
            <h3><a href="/puertas">Puertas y chapas</a></h3>
            <h3><a href="/techumbres">Techumbres de Metal</a></h3>
            <h3><a href="/ventanas">Ventanas de Aluminio</a></h3>
        </div>
    
    </div>
    
    <section>
    
        <div class="productos-finales">
            <a href="">
                <span>-38%</span>
            <div class="dentro-producto">
                <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel1.png' ) }}" alt="">
            </div>
            </a>
            <div class="titulos-producto">
                <h3>6M PERFIL C 2X3X0,85 METALCON ESTRUCT...</h3>
                <div class="precioss"><span>$14.990</span><span class="tachar2">$29.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
            
            
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-50%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel2.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ESTRUCTURA OMEGA 35X38X15X8X0,85X3</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2">$19.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel3.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TABIAL ESTRUCTURAL C 2X4X12X0,85X6MT 9...</h3>
                <div class="precioss"><span>$34.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel4.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ALUMINIO DE FORMA U PARA VIDRIO</h3>
                <div class="precioss"><span>$24.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel5.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ANGULO 15X10X1.000 MM L T-ESPEJO</h3>
                <div class="precioss"><span>$26.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-38%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel6.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>METALCON ESTRUCTURAL C2X...</h3>
                <div class="precioss"><span>$14.990</span><span class="tachar2">$29.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel7.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>ESQUINERO VOLCANICA 30X30X2.4MT</h3>
                <div class="precioss"><span>$9.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-38%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel8.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>MONTANTE ESTRUCTURAL 90X38...</h3>
                <div class="precioss"><span>$14.990</span><span class="tachar2">$29.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-70%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel9.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>OMEGA TECHO ESTRUCTURAL 38X...</h3>
                <div class="precioss"><span>$19.990</span><span class="tachar2">$60.900</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel10.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>METALCON C - 90X0,85MM X 6,5...</h3>
                <div class="precioss"><span>$25.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel11.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>GENERICO TORNILLO CABEZA LENTEJA...</h3>
                <div class="precioss"><span>$990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-70%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_metalcon/mel12.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>TIRA METALCON C - 2X4X0.85MM 6M...</h3>
                <div class="precioss"><span>$19.990</span><span class="tachar2">$34.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
    </section>

</div>

   <!--Footer-->
   <footer>

    <div class="logo-final">
        <a href="/index1.html">
            <img src="{{ url_for('static', filename='img/logo.2.png') }}" alt="">
        </a>
    </div>

    <div class="categorias-finales">
        <h2>Nosotros:</h2>
        <h3><a href="#">Nosotros</a></h3>
        <h3><a href="/logo">Herramientas</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
    </div>

    <div class="establecimiento">
        <h2>Establecimiento:</h2>
        <h3>Colegio Arturo Matte Larraín</h3>
    </div>


</footer>






</body>
</html>