<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mr.Builer/ventanas de Aluminio</title>
    <link rel="stylesheet" href="/apartado_cada_tipo/Apartados.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='/Apartados.css') }}">
</head>
<body>
    
    <!--Nuestros correos-->
    <nav class="correos">
        <a href="#"><p>Joan.tapia.hermosilla@alumnos.sip.cl</p></a>
        <a href="#"><p>Matias.velasquez.donoso.1@alumnos.sip.cl</p></a>
    </nav>
<!--navv-->
<header>

    <nav class="logo">
        <div class="ellogo">
            <a href="/logo"><img src="{{ url_for('static', filename='img/logo.2.png') }}" alt=""></a>
        </div>
        <input type="text" placeholder=" Buscador">
        <ul>
            <li><a href="/inicio">Inicio sesion</a></li>
            <li><a href="">Compras</a></li>
        </ul>

    </nav>  
<!--categorias-->
    <div class="categorias">

        <h3><a href="/logo">Home</a></h3>
        <h3><a href="">Nosotros</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
        
    </div>
</header>

<h4 class="herramientas-inicio">Inicio / Ventanas de Aluminio</h4>

<div class="pliss">
    <div class="izquierda">
        <div class="apartado-izquierda">
            <h3><a href="/aislante">Aislante Termico</a></h3>
            <h3><a href="/cemento">Cemento y Morteros</a></h3>
            <h3><a href="/herramientas">Herramientas Eléctricas</a></h3>
            <h3><a href="/manuales">Herramientas Manuales</a></h3>
            <h3><a href="/metalcon">Metalcon</a></h3>
            <h3><a href="/general">Materiales de Construccion</a></h3>
            <h3><a href="/pinturas">Pinturas y Accesorios</a></h3>
            <h3><a href="/puertas">Puertas y chapas</a></h3>
            <h3><a href="/techumbres">Techumbres de Metal</a></h3>
        </div>
    
    </div>
    
    <section>
    
        <div class="productos-finales">
            <a href="">
                <span>-13%</span>
            <div class="dentro-producto">
                <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven14.png' ) }}" alt="">
            </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA CORREDERA DE ALUMINIO Y VIDRI...</h3>
                <div class="precioss"><span>$39.990</span><span class="tachar2">$45.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
            
            
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-25%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven2.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA CORREDIZA NEXO MODERNA AL...</h3>
                <div class="precioss"><span>$29.990</span><span class="tachar2">$39.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-8%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven3.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANAS CORREDERAS DE CONTROL REMOTO...</h3>
                <div class="precioss"><span>$32.990</span><span class="tachar2">$35.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-13%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven4.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA ALUMINIO CORREDERA 100X100...</h3>
                <div class="precioss"><span>$34.990</span><span class="tachar2">$39.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-18%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven5.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANAS ABATIBLES DE ALUMINIO DE COL...</h3>
                <div class="precioss"><span>$32.990</span><span class="tachar2">$39.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-11%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven6.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA DE VIDRIO BALCÓN VENTANA AB...</h3>
                <div class="precioss"><span>$79.990</span><span class="tachar2">89.900</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-10%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven7.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANAL CON ALUMINIO COLOR TI...</h3>
                <div class="precioss"><span>$35.990</span><span class="tachar2">$39.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
        <div class="productos-finales">
            <a href="">
                <span>-10%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven8.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA INCLINABLE TOPSUL MINI GLASS...</h3>
                <div class="precioss"><span>$89.990</span><span class="tachar2">$99.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-14%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven9.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA COLOR DORADO DE CALIDAD...</h3>
                <div class="precioss"><span>$29.990</span><span class="tachar2">$34.990 </span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven10.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA CORREDERA COLOR CHAMPÁN, DI...</h3>
                <div class="precioss"><span>$49.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span>-8%</span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven11.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA VILLA BALCÓN EXTERIOR MARCO DE...</h3>
                <div class="precioss"><span>$45.990</span><span class="tachar2">$49.990</span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
        <div class="productos-finales">
            <a href="">
                <span></span>
                <div class="dentro-producto">
                    <img src="{{ url_for('static', filename='/imagenes/img_ventanas/ven12.png' ) }}" alt="">
                </div>
            </a>
            <div class="titulos-producto">
                <h3>VENTANA CORREDERA DE ALUMINIO</h3>
                <div class="precioss"><span>$29.990</span><span class="tachar2"></span></div>
            </div>
            <div class="comprasss"><button>Comprar</button></div>
        </div>
    
    </section>

</div>

   <!--Footer-->
   <footer>

    <div class="logo-final">
        <a href="/logo">
            <img src="{{ url_for('static', filename='img/logo.2.png') }}" alt="">
        </a>
    </div>

    
    <div class="categorias-finales">
        <h2>Nosotros:</h2>
        <h3><a href="#">Nosotros</a></h3>
        <h3><a href="/logo">Herramientas</a></h3>
        <h3><a href="#">Ofertas</a></h3>
        <h3><a href="#">Información</a></h3>
    </div>

    <div class="establecimiento">
        <h2>Establecimiento:</h2>
        <h3>Colegio Arturo Matte Larraín</h3>
    </div>



</footer>






</body>
</html>